apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-server
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      evaluation_interval: 1m
      scrape_interval: 1m
      scrape_timeout: 10s

    scrape_configs:
      - job_name: prometheus
        static_configs:
          - targets:
            - localhost:9090

      - job_name: 'backend-a'
        static_configs:
          - targets: ['132.196.250.187:8080']
            labels:
              service: 'backend-a'
              app: 'backend-a'
        metrics_path: '/metrics'
        scrape_interval: 15s

      - job_name: 'backend-b'
        static_configs:
          - targets: ['68.220.237.26:8080']
            labels:
              service: 'backend-b'
              app: 'backend-b'
        metrics_path: '/metrics'
        scrape_interval: 15s

      - job_name: 'kube-state-metrics'
        static_configs:
          - targets: ['prometheus-kube-state-metrics.monitoring.svc.cluster.local:8080']
        scrape_interval: 30s

      - job_name: 'node-exporter'
        static_configs:
          - targets: ['prometheus-prometheus-node-exporter.monitoring.svc.cluster.local:9100']
        scrape_interval: 30s
